<div class="group-label-input">

    <p>{{ label }}</p>

    <div 
      class="input-group"
      [class.input-error]="ngControl.control?.invalid && ngControl.control?.touched"
    >

      <input 
        [type]="type"
        required=""
        [placeholder]="placeholder" 
        autocomplete="off"
        [value]="value"
        (input)="onInput($event)"
      >

      <span>{{ span }}</span>

    </div>

    <p class="error-message" *ngIf="ngControl?.control?.invalid && ngControl?.control?.touched">This filed is required</p>
    
</div>