<body>
    <div class="calculator-wrapper">

        <main>
            <header>
                <h1>Interest Calculator</h1>
                <button
                    (click)="clear()"
                    class="btn-header"
                >
                    Clear All
                </button>
            </header>
            <form [formGroup]="interestForm">
                <app-input
                    formControlName="capital"
                    label="Initial Amount"
                    type="number"
                    span="R$"
                />
    
                <section class="inputs-middle">
                    <app-input
                        formControlName="time"
                        label="Period"
                        type="number"
                        span="years"
                    />
                    <app-input
                        formControlName="interestRate"
                        label="Interest Rate"
                        type="number"
                        span="%"
                    />
                </section>
        
                <app-checkbox
                    formControlName="type"
                    title="Calculation Type"
                    conjunto="mortgageType"
                    valueType="1"
                    label="Simple"
                />
                <app-checkbox
                    formControlName="type"
                    conjunto="mortgageType"
                    valueType="2"
                    label="Compound"
                    [isLast]="true"
                />
    
                <app-button
                    (submit)="submit()"
                    icone="svg/icon-calculator.svg"
                    descricao="Calculator image"
                    title="Calculate"
                />
    
            </form>
        </main>
        <section class="card-section">
    
            <div class="card-section-empty" *ngIf="!interest">
                <img src="svg/illustration-empty.svg" alt="">
                <h1>Results shown here</h1>
                <p>Fill out the form and click "calculate" to see what your interest would be.</p>
            </div>
            
            <div class="card-section-full" *ngIf="interest">
                <h1>Your results</h1>
                <p>Your results are displayed below based on the information you provided. To adjust your results, edit the form and click "calculate" again..</p>
                <app-interest-card
                    finalAmount="{{ interest.finalAmount }}"
                    interestAmount="{{ interest.interestAmount }}"
                />
            </div>
        </section>
    </div>
</body>