<body>
    <main>
        <header>
            <h1>Interest Calculator</h1>
            <button>
                Clear All
            </button>
        </header>
        <form [formGroup]="interestForm">
            <app-input
                formControlName="capital"
                label="Mortgage Amount"
                type="number"
                span="R$"
            />
            <app-input
                formControlName="time"
                label="Mortgage Term"
                type="number"
                span="years"
            />
            <app-input
                formControlName="interestRate"
                label="Interest Rate"
                type="number"
                span="%"
            />
    
            <app-checkbox
                formControlName="type"
                title="Mortgage Type"
                conjunto="mortgageType"
                valueType="1"
                label="Repayment"
            />
            <app-checkbox
                formControlName="type"
                conjunto="mortgageType"
                valueType="2"
                label="Interest Only"
            />

            <app-button
                (submit)="teste()"
                icone="svg/icon-calculator.svg"
                descricao="Calculator image"
                title="calculate Repayments"
            />

        </form>
    </main>
    <section class="card-section">
        <div class="card-section-empty">
            <img src="svg/illustration-empty.svg" alt="">
            <h1>Results shown here</h1>
            <p>Complete the from and click "calculate repayments" to see your monthly repayments would be.</p>
        </div>
        
        <div class="card-section-full">
            <h1>Your results</h1>
            <p>Your results are shown below based on the information you provided. To adjust the results, edit the form and click "calculate repayments" again.</p>
            <app-interest-card></app-interest-card>
        </div>
    </section>
</body>